.site-header {
  height: 20%;
  background-color: white;
  color: black;
}
.logo {
  margin-top:2%;
}
.header-Right-Upper{
  text-decoration: none;
  color: black;
  padding: 1%;
}
.header-Right-Upper:hover
{
  color: rgba($color: #af0101, $alpha: 1.0);
  text-decoration:underline;
}
.menuCountries{
  margin-left: 5%;
  font-size: 15px;
}
.bottom-row{
  justify-content: space-between;
}
.top-row{
  justify-content: space-between;
}
span{
  padding-right: 1rem;
}
span:hover
{
  cursor: pointer;
  text-decoration:underline;
}
.containerRight{
  display: flex;
  flex-direction: row;
  padding-right: 1rem;
}
