<mat-toolbar class="site-header">
  <mat-toolbar-row class="top-row">
    <div class="logo">
      <a [routerLink]="['/']"><img src="assets/images/PwcHeader.png" ></a>
    </div>
    <div class="containerRight">
      <a [routerLink]="['/login']" class="header-Right-Upper">
        <mat-icon>account_circle</mat-icon>Sign in</a>
        <a [routerLink]="['/register']" class="header-Right-Upper">Register</a>
          <div>
          <mat-form-field class="menuCountries">
            <mat-label>Find a country or region</mat-label>
            <mat-select >
              <mat-option value="Colombia">Colombia</mat-option>
              <mat-option value="England">England</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
    </div>
  </mat-toolbar-row>
  <mat-toolbar-row class="bottom-row">
    <div></div>
    <div>
      <span>Servicios</span>
      <span>Productos</span>
      <span>Industrias</span>
      <span>Publicaciones</span>
      <span>Nosotros</span>
      <span>PwcTimes</span>
    </div>
    <mat-form-field class="Search">
      <input matInput  type="text" value="" placeholder="Search">
    </mat-form-field>
  </mat-toolbar-row>
</mat-toolbar>