.site-footer
{
  background-color:#3b3b3d;
  height: 100%;
}
.container{
  margin-left: 10%;
  margin-right: 5%;
}
.titles{
  padding: 2%;
  font-size: 18px;
}
.site-footer a
{
  color:#fff;
  text-decoration:none;
  margin-right: 2%;
}
p{
  color:#fff;
  font-size: 12px;
  padding-bottom: 3%;
}
.site-footer a:hover
{
  text-decoration:underline;
}
.copyright-text
{
  margin: 5px;
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.col-Icon{
  float: left;
  display: flex;
  padding-bottom:15%;
  width:max-content;
}
.col-Terms{
  display: block;
}