<footer class="site-footer">
  <div class="container">
    <div class="titles">
      <a href="">Pwc Colombia</a>
    </div>
    <div class="titles">
      <a href="">Acerca de nosotros</a><a href="">Nuestros servicios</a>
    </div>

    <hr>

    <div class="col-Icon">
      <p>Pwc icon</p></div>
    <div class="col-Terms">
      <p class="copyright-text">
        &copy; 2020-2021 Pwc.PricewaterhouseCoopers.Pwc se refiere a las Firmas <br>
        colombianas que hacen parte de la red global de PricewaterhouseCooper <br>
        International Limited,cada una de las cuales es una entidad legal separada e <br>
        independiente.Todos los derechos reservados. <br>
      </p>
      <a href="">Politica de privacidad</a>
      <a href="">Términos legales</a><br>
      <a href="">Acerca del proveedor de este sitio</a><br>
      <a href="">Politica de tratamiento de datos personales</a><br>
    </div>
  </div>

  <div class="col-md-4 col-sm-6 col-xs-12">
    <ul class="social-icons">
      <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
      <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
      <li><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>
      <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
    </ul>
  </div>

</footer>