<footer class="site-footer">
  <div class="container">
    <div class="titles">
      <p></p>
      <a [routerLink]="['/']">Pwc Colombia</a>
    </div>
    <div class="titles">
      <a [routerLink]="['/']">Acerca de nosotros</a><a [routerLink]="['/']">Nuestros servicios</a>
    </div>

    <hr>

    <div class="col-Icon">
      <a [routerLink]="['/']"><img src="assets/images/Pwcfooter.png" ></a>
      </div>
    <div class="col-Terms">
      <p class="copyright-text">
        &copy; 2020-2021 Pwc.PricewaterhouseCoopers.Pwc se refiere a las Firmas <br>
        colombianas que hacen parte de la red global de PricewaterhouseCooper <br>
        International Limited,cada una de las cuales es una entidad legal separada e <br>
        independiente.Todos los derechos reservados. <br>
      </p>
      <a [routerLink]="['/']">Politica de privacidad</a>
      <a [routerLink]="['/']">Términos legales</a>
      <a [routerLink]="['/']">Acerca del proveedor de este sitio</a><br>
      <a [routerLink]="['/']">Politica de tratamiento de datos personales</a><br>
    </div>
  </div>
</footer>