.dsc-carousel {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  &::before {
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 48);
  }

  &__content {
    text-align: center;
    width: 100%;
    align-self: stretch;
    display: flex;
    overflow: hidden;

    &-item {
      float: left;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-end;
      min-width: 100%;
      height: 100%;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      transition: 1s all ease-in;
      z-index: 0;
      p {
        color: white;
        font-weight: 300;
        font-size: 15px;
        cursor: pointer;
      }
    }
  }
  &__btns {
    position: absolute;
    width: 100%;
    margin: auto;
    display: flex;
    
    justify-content: space-between;
    z-index: 1;
    >i {
      min-height: 50px;
      min-width: 50px;
      opacity: 1;
      color: white;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 5px;
      cursor: pointer;
      &:hover{
        opacity: 0.7;
        background-color: black;
      }
    }
  }
  &__steps {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 2%;

    &-step {
      height: 15px;
      width: 15px;
      margin: 0 5px;
      border-radius: 45px;
      background:rgba(119, 117, 117, 0.7);
      cursor: pointer;
      transition: 0.75s all ease-in-out;
      

      &:hover, &-active {
        background: rgba(32, 32, 32, 0.7);;
        background-image: url();
        z-index: 1;
      }
    }
  }
}
