<div class="container">
  <form class="login-form">
    <div class="loginLabel">
      <p>Login</p>
    </div>
    <div class="emailContainer">

    
    <div class="alertLogin">
      <p>Your email address</p>
    </div>
    <mat-form-field class="email">
      <input type="text" class="email" matInput placeholder="Email Address" required>
    </mat-form-field>
  </div>
    <div class="container_button">
      <button mat-raised-button type="submit">Continue
      </button>
    </div>
  </form>
  <div>
    <a [routerLink]="['/']">Pwc Colleagues, please click here to login</a>
  </div>
</div>